body
  background #fdfdfd
  margin-left 0
  margin-top  60px

table.table tr
  max-height 1.2em
  
.team-selected
  background #d9edf7

.btn a
  text-decoration none
  font-weight bold
  color inherit